<div class="col-md-8 col-md-offset-2">
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
</ol>
	<div class="ride-list" >
		<div class='ride' ng-show="auth" ng-cloak ng-repeat="activity in activities" ng-cloak>
			<div class="caption">
				<h3><span ng-bind='activity.name'></span></h3>
				<ul>
					<li><span ng-bind='activity.distance'></span></li>
					<li><span ng-bind='activity.total_elevation_gain'></span></li>
					<li><span ng-bind='activity.average_cadence'></span> rpm</li>
				</ul>			
			</div>
			<a href="#/activities/{{activity.id}}" class="btn btn-success" ng-show="activity.average_cadence">Spy on this ride</a>
			<div class="alert alert-danger" ng-hide="activity.average_cadence">No cadence data</div>
			<div class="inner">
				<img class="summary-map" src="//maps.googleapis.com/maps/api/staticmap?size=300x200&amp;path=weight:3%7Ccolor:red%7Cenc:{{activity.map.summary_polyline}}" alt="{{activity.name}}">
			</div>
		</div>
	</div>
</div>